{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": [
      "off"
    ],
    "arrow-body-style": [
      "off"
    ],
    "array-callback-return": [
      "off"
    ],
    "object-curly-newline": [
      "off"
    ],
    "class-methods-use-this": [
      "off"
    ]
  },
  "env": {
    "browser": true
  }
}
